*{
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

/*header*/
nav{
    display:flex;
    background-color: #1ea322;
    border-bottom: 4px solid #388E3C;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.textlogo{
    font-weight:900;
    font-size: 50px;
    margin-bottom: 0%;
    align-items: center;
    color: #ffffff;
}

.card-header{
    background: #ffffff;
    border: solid 1px #e9e9e9;
}

.card-space{
    display: flex;
    align-items: center;
}

.card-text{
    text-align: justify;
    text-align-last: left;
}

.card-text-reverse{
    text-align: justify;
    text-align-last: right;
}

.card-title{
    font-weight:100;
    font-size: 24px;
}

.img-card{
    display:flex;
    justify-items: center;
    justify-content: center;
}

.logo{
    filter: brightness(0) invert(1) grayscale(100%) contrast(10000%);
    max-width: 100px !important;
    border-right: #9a9b9a 2px solid;
    margin-right: 10px;
    padding-right: 10px;
}

.logo-text{
    color: #ffffff;
    font-size:25px;
    display: flex;
    justify-content: left;
    margin-top: 34px;
}

.nav-link{
    font-size: 20px;
    text-decoration: none;
    justify-content: right !important;
    color:#ffffff;
    margin-right: 10px;
}
.navbar-nav{
    color: #ffffff;
    justify-content: left !important;
}

#navbarSupportedContent{
    color: #ffffff;
    justify-content: right;
}

#navbarSupportedContent .nav-link{
    color: #ffffff;
    justify-content: right;
}
#navbarSupportedContent .nav-link:hover{
    color: #1B5E20;
}

/*carusel*/
#carouselExampleSlidesOnly .overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(180deg, rgba(0,0,0,0) 64%, rgba(57,169,0,0.4682247899159664) 120%);
}

.carousel-item img{
    max-height: 70vh;
    object-fit: cover;
}

/*cuerpo*/

.container{
    max-width: 1200px;
    margin: 0 auto;
}

h2{
    font: 33px sans-serif;
    margin-top: 30px;
    text-align: center;
}

h2.linea {
    position: relative;
    z-index: 1;
}

h2.linea:before {
    border-top: 1px solid #1ea322;
    content: "";
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    bottom: 0;
    width: 95%;
    z-index: -1;
}

.text-linea{
    font-weight: 400;
    font-weight: bold;
    font-size: 45px;
}

h2.linea span{
    color:#1ea322;
    background: #fff;
    padding: 0 15px;
}

#objetives{
    display:flex;
    justify-content: center;
}

#objetives p{
    font-size:24px;
}

#img-body{
    max-height: 70vh;
    border-radius: 16px;
    object-fit: cover;
}

/*cards*/
.card{
    display: block;
    border: none;
}

#body-page{
    display:grid;
    justify-content: center;
}


/*footer*/
footer{
    background-color: #1ea322;
    padding-top: 20px;
}

.footer-links h4{
    font-size: 20px;
    font-weight: bold;
    color: #e9e9e9;
    border-bottom: 2px solid #e9e9e9;
}

.footer-links{
    display: grid;
    justify-content: center;
}

.footer-links a.link{
    font-size: 15px;
    text-decoration: none;
    color: #e9e9e9;
    margin-bottom: 15px;
    transition: all .3s ease;
}

.footer-links a.link:hover{
    color: #ffffff;
    padding-left: 6px;
}

.footer-links ul{
    list-style: none;
    margin-left: -18px;
}

.ayuda{
    fill: #e9e9e9;
    text-decoration: none;
    transition: all .3s ease;
}

.ayuda:hover{
    fill: #ffffff;
}

.ayuda svg{
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 15px;
}

.footer-social{
    display:flex;
    justify-content: center;
}

.textito{
    padding: 0px;
    text-align: center;
    color: #e9e9e9;
    font-size: 13px;
    margin: 0px;
    background-color: #1ea322;
}
